{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</head>
<body> 

  <div  id="div3"> 
    <div class=" text-dark bg-success bg-gradient bg-opacity-50 rounded navbar navbar-expand-lg " id="div6">
      <b><a id="a2" class=" text-dark" href="">Become a Seller</a></b>
      <nav>
        <div class="container-fluid ">
          <div class="collapse navbar-collapse position-absolute top-0 start-50" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'seller:home' %}">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link" href="#">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link" href="#">Cart</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="nav-link " href="#">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </nav>
    </div>
 </div> 

  <h1>Orders</h1>
  <div id="div2" class="bg-success bg-gradient bg-opacity-20 rounded-pill">
    <img id="img1" src="{% static 'images/sellerimg.jpeg' %}" alt="" height="150px" width="150px"><br><br><br>
    <a class="a1 " href="{% url 'seller:home' %}">Home</a><br><br>
    <a class="a1 " href="{% url 'seller:add_product' %}">Add Product</a><br><br>
    <a class="a1 " href="{% url 'seller:catalogue' %}">Catalogue</a><br><br>
    <a class="a1 " href="{% url 'seller:orders' %}">Orders</a><br><br>
    <a class="a1 " href="{% url 'seller:change_password' %}">Change Password</a><br><br>
    <a class="a1 " href="{% url 'seller:home' %}">Profile</a><br><br>
    <a class="a1 " href="{% url 'seller:home' %}">Logout</a>
    

  </div>
<div class="tbl">
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Sl.no</th>
            <th scope="col">Order no.</th>
            <th scope="col">Product id</th>
            <th scope="col">Product image</th>
            <th scope="col">Customer address</th>
            <th scope="col">Shipping address</th>            
            <th scope="col">Quantity</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Date of Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
       
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
       
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>