.form1{
    width: 500px;
    position: absolute;
    left: 400px;
    top: 150px;
}
.form2{
    width: 500px;
    position: absolute;
    left: 400px;
    top: 250px;
}

.btn{
    position:absolute ;
    bottom: 248px;
    left: 613px;
}
.link{
    position:absolute ;
    bottom: 298px;
    left: 590px;
}
#div2 {
    padding-left: 50px;
    background-color: rgb(91, 129, 145);
    width: 250px;
    height: 663px;
    
}

.a1 {
    font-size: medium;
    font-weight: bold;
    color: rgb(11, 10, 10);


    font-family: Arial, Helvetica, sans-serif;

    text-decoration: none;

}
#div6{
    background-color: rgb(91, 129, 145);  ;
}
#a2{
    text-decoration: none;
    padding-left: 50px;   
}
